doctype html
html.no-js(lang='en')
	head
		title News List Component
	body

		section.news_list(role='list')
			h1.news_list_heading News List Heading
			article.news_list_item(role='listitem', itemscope, itemtype='http://schema.org/NewsArticle')
				header.news_list_item_header
					h2.news_list_item_heading(itemprop='headline') News Article Title
				div.news_list_item_body
					figure.news_list_item_figure(itemprop='image')
						picture.news_list_item_picture
							<!--[if IE 9]>
							<video style="display: none;">
							<![endif]-->
							source(media='(min-width: 980px)', srcset='http://spacehold.it/174x116/1')
							<!--[if IE 9]>
							</video>
							<![endif]-->
							img.news_list_item_img(src='http://spacehold.it/80x80/1', alt='')
					div.news_list_item_content(itemprop='description')
						p Lorem
				footer.news_list_item_footer
					a.news_list_item_more(href='#', itemprop='url') Read More



