extends ./_layouts/_component.jade
include ./_mixins/_news_list_article.jade

block title
	title News List Component

block content

		section.news_list
			header.news_list_header
				h1.news_list_heading News List Heading
			div.news_list_content(role='list')
				include ./_includes/_news_list_article.jade
