doctype html
html.no-js(lang='en')
	head
		title Search Component
	body

		//
			Validator will incorrectly throw an error when a role of search is applied
			to a form element. In the future this should be fixed:
			https://github.com/validator/validator/issues/193
		form.site_search(method='get', action='#', role='search')
			div.site_search_block
				label.visually_hidden.site_search_label(for='site_search_input') Search this site for:
				input#site_search_input.site_search_input(name='site_search_input', type='text', value='', placeholder='Search', required, aria-required='true')
				button.site_search_button(type='submit', title='Query search', aria-label='Query search')
