<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <title>News List Component</title>
  </head>
  <body>
    <section class="news_list">
      <header class="news_list_header">
        <h1 class="news_list_heading">News List Heading</h1>
      </header>
      <div role="list" class="news_list_content">
        <article role="listitem" itemscope="itemscope" itemtype="http://schema.org/NewsArticle" class="news_list_item">
          <header class="news_list_item_header">
            <h2 itemprop="headline" class="news_list_item_heading">Lorem ipsum dolor sit amet</h2>
            <div itemprop="author" class="news_list_item_author">Adam Drake</div>
            <div class="news_list_item_publish">
              <time itemprop="datePublished" datetime="2015-12-28" class="news_list_item_publish_time">December 28, 2015</time>
            </div>
          </header>
          <div class="news_list_item_body">
            <figure class="news_list_item_figure">
              <picture class="news_list_item_picture">
                <!--[if IE 9]>
                <video style="display: none;">
                <![endif]-->
                <source media="(min-width: 980px)" srcset="http://spacehold.it/174x116/1"/><!--[if IE 9]>
                </video>
                <![endif]--><img src="http://spacehold.it/80x80/1" alt="" itemprop="image" class="news_list_item_img"/>
              </picture>
            </figure>
            <div itemprop="description" class="news_list_item_content">
              <p>Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus.</p>
            </div>
          </div>
          <footer class="news_list_item_footer"><a href="#" itemprop="url" class="news_list_item_more">Read More</a></footer>
        </article>
        <article role="listitem" itemscope="itemscope" itemtype="http://schema.org/NewsArticle" class="news_list_item">
          <header class="news_list_item_header">
            <h2 itemprop="headline" class="news_list_item_heading">Aenean imperdiet</h2>
            <div itemprop="author" class="news_list_item_author">Jessica H. Lloyd</div>
            <div class="news_list_item_publish">
              <time itemprop="datePublished" datetime="2015-20-28" class="news_list_item_publish_time">December 20, 2015</time>
            </div>
          </header>
          <div class="news_list_item_body">
            <figure class="news_list_item_figure">
              <picture class="news_list_item_picture">
                <!--[if IE 9]>
                <video style="display: none;">
                <![endif]-->
                <source media="(min-width: 980px)" srcset="http://spacehold.it/174x116/2"/><!--[if IE 9]>
                </video>
                <![endif]--><img src="http://spacehold.it/80x80/2" alt="" itemprop="image" class="news_list_item_img"/>
              </picture>
            </figure>
            <div itemprop="description" class="news_list_item_content">
              <p> Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem.</p>
            </div>
          </div>
          <footer class="news_list_item_footer"><a href="#" itemprop="url" class="news_list_item_more">Read More</a></footer>
        </article>
        <article role="listitem" itemscope="itemscope" itemtype="http://schema.org/NewsArticle" class="news_list_item">
          <header class="news_list_item_header">
            <h2 itemprop="headline" class="news_list_item_heading">Maecenas nec odio et ante</h2>
            <div itemprop="author" class="news_list_item_author">Jessica King</div>
            <div class="news_list_item_publish">
              <time itemprop="datePublished" datetime="2015-12-28" class="news_list_item_publish_time">December 20, 2015</time>
            </div>
          </header>
          <div class="news_list_item_body">
            <figure class="news_list_item_figure">
              <picture class="news_list_item_picture">
                <!--[if IE 9]>
                <video style="display: none;">
                <![endif]-->
                <source media="(min-width: 980px)" srcset="http://spacehold.it/174x116/3"/><!--[if IE 9]>
                </video>
                <![endif]--><img src="http://spacehold.it/80x80/3" alt="" itemprop="image" class="news_list_item_img"/>
              </picture>
            </figure>
            <div itemprop="description" class="news_list_item_content">
              <p>Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus.</p>
            </div>
          </div>
          <footer class="news_list_item_footer"><a href="#" itemprop="url" class="news_list_item_more">Read More</a></footer>
        </article>
      </div>
    </section>
  </body>
</html>